/*  Generales  */
h1, h2, h3, h4, .precio, p{
    text-align: center;
}

h2{
    padding-top: 5rem;
}

h3{
    font-size: 2rem;
    margin: 0;
}

h4{
    top: 40rem;
    padding-left: 4rem;
    color: hsl(202, 60%, 60%);
}

span{
    color: #037abf;
}

body{
    font-family: "Raleway", sans-serif;
    line-height: 2;
}

img{
    width: 100%;
    overflow: hidden;
}

#navegacion ul{
    display: flex;
    justify-content: space-between;
    margin: 2em 20em 2em 20em;
    list-style: none;
}

#navegacion ul li{
    margin: 0 10 px;
}

#pies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pies *{
    text-align: center;
}

.cabeza{
    font-size: 2rem;
}

.pie{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sinborde{
    border: none;
}